@model MMRB.Models.WriteUpDetail

@{
    ViewBag.Title = "Write-Up";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WriteUpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteUpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriteUps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteUps)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WriteUpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
