@model      IEnumerable<MMRB.Models.WalletListItem>

@{
    ViewBag.Title = "Wallet";
}

<!--<h2>Minnow Merits</h2>

<body>
    <div class="jumbotron">
        <h1>Minnow Merits</h1>
        <p class="lead">Are you ready for a new start with your children? Maybe you just want to teach them vital skills to carry into the workforce. Look no further, Minnow Merits is here to help. Make working with behavior fun and engaging with Minnow Merits. Check out the <a href="@Url.Action("About","Home")"> About </a> for details on this system. </p>-->
@*        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <!--</div>-->

@*//Trying to move home page location*@
@*</body>*@
<h1>Wallets</h1>
<p>
    @Html.ActionLink("Create New", "Create", "Wallet" , null,  new { Id = "createWallet" })

</p>

@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role"alert">
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WalletId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th></th>
    </tr>

  @foreach (var item in Model)


  {<tr>
        <td>
            @Html.DisplayFor(modelItem => item.WalletId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WalletId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WalletId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WalletId })
        </td>
    </tr>
   
  
}
    </table>
